<div>
  <app-article
    [headerContent]="articles[0].title"
    [bodyContent]="articles[0].body"
  >
  </app-article>
  <app-article
    [headerContent]="articles[1].title"
    [bodyContent]="articles[1].body"
  >
  </app-article>
  <app-article
    [headerContent]="articles[2].title"
    [bodyContent]="articles[2].body"
  >
  </app-article>
  <app-article
    [headerContent]="articles[3].title"
    [bodyContent]="articles[3].body"
  >
  </app-article>
  <app-article
    [headerContent]="articles[4].title"
    [bodyContent]="articles[4].body"
  >
  </app-article>
</div>
