<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Technical Details </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>This single page app was created a modern web stack</p>
    <H3> Backend</H3>
    <ul>
      <li>MongoDB - Persistent Data Storage</li>
      <li>NodeJS - Backend JavaScript Runtime</li>
      <li>Express - NodeJS Web Application Framework</li>
    </ul>

    <H3> Fronend</H3>
    <ul>
      <li>Angular 19 - JavaScript Web Framework</li>
      <li>ChartJS - JavaScript Charting Library</li>
      <li>Material - OpenSource Component Library</li>
    </ul>
  </mat-card-content>
</mat-card>
