<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title> Topic Summary </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      UNCC is the Charlotte campus for University of North Carolina. This site
      serves as a portal to find all the latest news, featured stories, events,
      media, and student activities that the campus offers. Up-to-date news is
      taken from Inside UNC Charlotte which is maintained by the Office of
      University Communications. Faculty and staff members submit their articles
      to be published to bring students all the lastest information. The site is
      designed to be user-friendly and easy to navigate, allowing students to
      quickly find the information they need.
    </p>

    <p>
      UNCC dates back to the 1940s when it was founded as Charlotte College and
      grown to be the third largest enrollement in the UNC system. UNCC provides
      eight different Academic Colleges (Art & Architecture, Business,
      Computing, Education, Engineering, Health & Human Services, Science, and
      Humanities) as well as the Honors College and Academic College. UNCC dates
      back to the 1940s when it was founded as Charlotte College and grown to be
      the third largest enrollement in the UNC system. UNCC provides eight
      different Academic Colleges (Art & Architecture, Business, Computing,
      Education, Engineering, Health & Human Services, Science, and Humanities)
      as well as the Honors College and Academic College.
    </p>

    <p>
      UNCC Offers a diversty, an active student life, housing, and an education
      in a thriving metropolis.
    </p>
    Reference:
    <a href="https://inside.charlotte.edu/news-features/">
      Inside UNC Charlotte</a
    >
  </mat-card-content>
</mat-card>
